body {
    /* width: 100%; */
    background-image: url('balavoine.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.filter {
    position: relative;
    top: 5vh;
    left: 10vh;
    width: 80%;
    min-height: 90vh;
    background-color: rgba(0, 0, 0, 0.83);
    justify-content: center;
    display: flex;
}

.songs-list {
  display: flex;
  width: 100vh;
  justify-content: space-around;
  position: relative;
  top: 20vh;
  left: 10vh;
  /* border: red 1px solid; */
}
  
.song-div {
  font-size: 10px;
  width: 80px;
  height: 80px;
  border: solid black 4px;
  border-radius: 9px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(190, 190, 190, 0.18);
  text-align: center;
  transition: all 0.27s ease;
}

.small-text {
  font-size: 12.5px;
}

.song-div:hover {
  background-color: rgba(190, 190, 190, 0.43);
}
  
.big-letter {
  font-size: 30px;
  font-weight: bolder;
}

.notice {
  position: absolute;
  bottom: 24px;
  left : 24px;
  color:rgba(255, 255, 255, 0.43)
}

.stop {

  position: relative;
  top: 30vh;
  right: -5vh;
}

.playing {
  border-color: white;
  transform: scale(1.2);
  background-color: rgba(190, 190, 190, 0.08);
}

.lyrics {
  position: absolute;
  top: 40vh;
  color:rgba(255, 255, 255, 0.53);
  text-align: center;
  display: none;
}

.stretch {
  height: 200vh;
}

.display {
  display: block;
  opacity: 0;
  transition: all 5.27s ease;

}

.delayed-display {
  opacity: 1;
}

.hidden {
  display: none;
}